alembic
anyio
argcomplete
asgiref
attrs
autopep8
backoff
CacheControl
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
cleo
click
colorama
coloredlogs
crashtest
cryptography
cssselect2
defusedxml
Deprecated
distlib
dulwich
Faker
fastapi
filelock
finite-state-machine
googleapis-common-protos
greenlet
grpcio
h11
html5lib
httpcore
httptools
httpx
humanfriendly
idna
importlib-metadata
iniconfig
jaraco.classes
jsonschema
keyring
lockfile
more-itertools
msgpack
mysql-connector-python
# mysqlclient
opentelemetry-api
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-zipkin-json
opentelemetry-exporter-zipkin-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
packaging
pexpect
Pillow
pipenv
pipx
pkginfo
platformdirs
pluggy
poetry
poetry-core
poetry-plugin-export
protobuf
ptyprocess
psycopg2
pycodestyle
pycparser
pydantic==1.10.8 
Pygments
PyMySQL
pyreadline3
pyrsistent
pytest
python-dateutil
python-dotenv
pywin32-ctypes
PyYAML
rapidfuzz
requests
requests-toolbelt
shellingham
six
sniffio
SQLAlchemy
starlette
svgelements
thrift
tinycss2
tomlkit
trove-classifiers
typing_extensions
urllib3
userpath
uvicorn
virtualenv
virtualenv-clone
watchfiles
webencodings
websockets
wrapt
zipp
